.btn {
  display: inline-block;
  padding: 16px 125px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  color: #fff;
  text-decoration: none;
  background-color: $color-accent;
  border-radius: 4px;

  &.btn-about {
    margin-left: 225px;
  }
}

.form_btn {
  padding: 16px 0 16px;
  width: 100%;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  color: #fff;
  text-decoration: none;
  background-color: $color-accent;
  border: 1px solid $color-accent;
  border-radius: 4px;
}
