.cards {
  padding-right: 11px;
  display: flex;
  flex-wrap: wrap;
  gap: 44px
}

.card {
  position: relative;
  flex-basis: calc(33.33% - 88px / 3);
}

.card_back {
  right: -12px;
  top: -12px;
  position: absolute;
  width: 100%;
  min-height: 308px;
  background-color: $color-accent;
  border-radius: 4px;
}

.card_content {
  height: 100%;
  position: relative;
  color: $color-dark;
  background-color: #fff;
  border-radius: 4px;
}

.card_visual {
  max-width: 407px;
}

.card_image {
  width: 100%;
  border-radius: 4px;
}

.card_info {
  padding: 24px 13px 24px 24px;
}

.card_title {
  margin-bottom: 21px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  color: $color-accent;
}

.card_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.card_item {
  display: flex;
  gap: 32px;
}

.card_metro {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card_text {
  flex-basis: calc(50% - 32px / 2);
}
