.variants {
  padding: 104px 0 104px;
}

.variants_inner {
  @include inner;
}

.variants_title {
  @include title;
}

.filter_list {
  margin-bottom: 60px;
  display: flex;
  list-style: none;
  color: #000;
  background-color: #fff;
}

.filter_item {
  padding: 0px 24px 0px 24px;
  border-right: 1px solid #E4E4E4;
  align-items: center;
  justify-content: space-between;
  display: flex;

  &.input {
    width: 100%;
    padding: 16px 0 16px 24px;
    border-right: 0;
  }
}

.filter_text {
  display: block;
  flex-shrink: 0;
  margin-right: 100px;
}

.filter_input {
  flex-basis: 50%;
  border: 0;

  &::placeholder {
    width: 100%;
  }
}
