* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  color: #fff;
  background-color: $color-dark;
}

.title_row {
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  gap: 24px
}
